*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

body{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
	background-color: #D3D3D3;
}

#container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 475px;
	max-width: 1440px;
	height: 100vh;
}

#container-itens p{
	display: block;
	text-align: center;
	font-size: 75px;
	margin: 15px;
}

h1{
	font-size: 60px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}

button{
	padding: 10px;
	margin: 5px;
	font-size: 16px;
	font-weight: bold;
	background-color: rgb(0,255,255);
	border-radius: 10px;
	height: 40px;
	width: 110px;
	cursor: pointer;
	text-transform: uppercase;
}

button:hover{
	transform:rotate(2deg);
}